<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated videowatermarking -->
      <package
            uri="http://www.example.org/videowatermarking"
            class="videowatermarking.VideowatermarkingPackage"
            genModel="model/videowatermarking.genmodel"/>
   </extension>

</plugin>
